## Load data

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
data = "/Users/sentinel/Developer/SBAnational.csv"

df = pd.read_csv(data, sep=",",thousands=",",low_memory=False, na_values="n/a",parse_dates=['DisbursementDate','ApprovalDate','ChgOffDate'])

## Exploratory Data Analysis

In [30]:
df.isnull().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [31]:
df.dropna(axis=0, how="any", thresh=None, subset=['Name', 'City', 'State', 'Bank', 'BankState', 'MIS_Status', 'NewExist','RevLineCr','LowDoc','DisbursementDate'], inplace=True)
df['ChgOffDate'] = df['ChgOffDate'].fillna("N/A")

In [32]:
df.isnull().sum()

LoanNr_ChkDgt        0
Name                 0
City                 0
State                0
Zip                  0
Bank                 0
BankState            0
NAICS                0
ApprovalDate         0
ApprovalFY           0
Term                 0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
RevLineCr            0
LowDoc               0
ChgOffDate           0
DisbursementDate     0
DisbursementGross    0
BalanceGross         0
MIS_Status           0
ChgOffPrinGr         0
GrAppv               0
SBA_Appv             0
dtype: int64

In [33]:
(rows, columns) = df.shape
print (f"There are about {columns} columns and {rows} rows.")

There are about 27 columns and 886240 rows.

In [34]:
df.dtypes

LoanNr_ChkDgt                 int64
Name                         object
City                         object
State                        object
Zip                           int64
Bank                         object
BankState                    object
NAICS                         int64
ApprovalDate         datetime64[ns]
ApprovalFY                   object
Term                          int64
NoEmp                         int64
NewExist                    float64
CreateJob                     int64
RetainedJob                   int64
FranchiseCode                 int64
UrbanRural                    int64
RevLineCr                    object
LowDoc                       object
ChgOffDate                   object
DisbursementDate     datetime64[ns]
DisbursementGross            object
BalanceGross                 object
MIS_Status                   object
ChgOffPrinGr                 object
GrAppv                       object
SBA_Appv                     object
dtype: object

In [35]:
df = df.convert_dtypes()

In [36]:
df.dtypes

LoanNr_ChkDgt                 Int64
Name                         string
City                         string
State                        string
Zip                           Int64
Bank                         string
BankState                    string
NAICS                         Int64
ApprovalDate         datetime64[ns]
ApprovalFY                   string
Term                          Int64
NoEmp                         Int64
NewExist                      Int64
CreateJob                     Int64
RetainedJob                   Int64
FranchiseCode                 Int64
UrbanRural                    Int64
RevLineCr                    string
LowDoc                       string
ChgOffDate                   object
DisbursementDate     datetime64[ns]
DisbursementGross            string
BalanceGross                 string
MIS_Status                   string
ChgOffPrinGr                 string
GrAppv                       string
SBA_Appv                     string
dtype: object

In [37]:
df.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,N,Y,N/A,1999-02-28,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,N,Y,N/A,1997-05-31,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,N,N,N/A,1997-12-31,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,N,Y,N/A,1997-06-30,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,N,N,N/A,1997-05-14,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"

In [38]:
cols_to_check = ["DisbursementGross", "BalanceGross", 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']

df[cols_to_check] = df[cols_to_check].replace({'\$': ''}, regex=True)
df[cols_to_check] = df[cols_to_check].replace({" ": ''}, regex=True)
df[cols_to_check] = df[cols_to_check].replace({",": ''}, regex=True)
df.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,N,Y,N/A,1999-02-28,60000.00,0.00,P I F,0.00,60000.00,48000.00
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,N,Y,N/A,1997-05-31,40000.00,0.00,P I F,0.00,40000.00,32000.00
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,N,N,N/A,1997-12-31,287000.00,0.00,P I F,0.00,287000.00,215250.00
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,N,Y,N/A,1997-06-30,35000.00,0.00,P I F,0.00,35000.00,28000.00
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,N,N,N/A,1997-05-14,229000.00,0.00,P I F,0.00,229000.00,229000.00

In [39]:
df = df.astype({"DisbursementGross":"float", "BalanceGross":"float", 'ChgOffPrinGr':"float", 'GrAppv':"float", 'SBA_Appv':"float"})

In [40]:
df.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,N,Y,N/A,1999-02-28,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,N,Y,N/A,1997-05-31,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,N,N,N/A,1997-12-31,287000.0,0.0,P I F,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,N,Y,N/A,1997-06-30,35000.0,0.0,P I F,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,N,N,N/A,1997-05-14,229000.0,0.0,P I F,0.0,229000.0,229000.0

In [41]:
df['MIS_Status'] = df['MIS_Status'].replace(['P I F'],'Paid')
df['MIS_Status'] = df['MIS_Status'].replace(['CHGOFF'],'Charged')

In [42]:
df.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,N,Y,N/A,1999-02-28,60000.0,0.0,Paid,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,N,Y,N/A,1997-05-31,40000.0,0.0,Paid,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,N,N,N/A,1997-12-31,287000.0,0.0,Paid,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,N,Y,N/A,1997-06-30,35000.0,0.0,Paid,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,N,N,N/A,1997-05-14,229000.0,0.0,Paid,0.0,229000.0,229000.0

In [43]:
X = df.drop("MIS_Status", axis=1)
y = df["MIS_Status"]

In [44]:
print(y)

0            Paid
1            Paid
2            Paid
3            Paid
4            Paid
           ...
899159       Paid
899160       Paid
899161       Paid
899162    Charged
899163       Paid
Name: MIS_Status, Length: 886240, dtype: object

In [45]:
X.head()

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997,...,0,N,Y,N/A,1999-02-28,60000.0,0.0,0.0,60000.0,48000.0
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997,...,0,N,Y,N/A,1997-05-31,40000.0,0.0,0.0,40000.0,32000.0
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997,...,0,N,N,N/A,1997-12-31,287000.0,0.0,0.0,287000.0,215250.0
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,...,0,N,Y,N/A,1997-06-30,35000.0,0.0,0.0,35000.0,28000.0
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,...,0,N,N,N/A,1997-05-14,229000.0,0.0,0.0,229000.0,229000.0

## Model selection and training

Here is where you will use the `scikit-learn` module to choose, load, and train your ML algorithm of choice. At this step, we will discuss which algorithm to use carefully, based on the task at hand (classification/regression/clustering), and maybe some more details pertaining to certain algorithms.

In [46]:
# 10 Popular Classificaiton Methods can be found here:
# https://www.educative.io/blog/scikit-learn-cheat-sheet-classification-regression-methods
# https://www.kaggle.com/code/ec200000/dsi-project#Modeling

## Results presentation

This is the final step. Here, you will provide the outcomes of your analysis. These outcomes can be in the form of tables, plots, or both. 
As an extra step, you could also provide numerical results showing the efficiency of your model that can be described using specific ML characteristics:

 - accuracy
 - precision/recall
 - F1 score
 - Area Under Curve
 - ...

We will discuss further about those in class.